.cta {
    padding: 12.5px 14px;
    font-family: GT-Eesti-Pro, sans-serif;
    transition: 0.25s all;

    font-size: 20px;
    font-weight: bold;
    // line-height: 35px;

    cursor: pointer;
    &-primary {
        background: #f06400;
        border: 1px solid #f06400;
        color: white;

        &:hover {
            color: #f06400;
            background: transparent;
            transition: 0.25s all;
        }
    }
    &-secondary {
        color: #f06400;
        opacity: 1;

        &:hover {
            opacity: 0.8;
            transition: 0.25s all;
        }
    }
    &-tel{
        letter-spacing: -.5px;
    }
}

.link {
    text-decoration: underline;

    &-bold {
        font-weight: bold;
    }
}
