.intro {
    // padding : 80px 214px 86px 214px;

    &_container {
        margin: 0 auto;
        max-width: 1017px;
        padding: 80px 0;

        @media screen and (min-width: 0px) and (max-width: 1024px) {
            padding: 40px 38px;

        }

    }
    &_title {
        font-family: GT-Eesti-Pro, sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: bold;
        line-height: 45px;
        letter-spacing: -0.5px;
        text-align: left;
        padding-bottom: 40px;
        padding-right: 5px;
        @media screen and (min-width: 0px) and (max-width: 768px) {
            padding-bottom: 20px;
        }
    }

    &_subTitle {
        margin-bottom: 20px;
        font-family: GT-Eesti-Pro, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: -0.5px;
        text-align: left;
    }

}
