.solution {
    margin: 80px 0;
    position: relative;

    @media screen and (min-width: 0px) and (max-width: 768px) {
        margin: 90px 0 50px 0;
    }

    &_ampoule {
        position: absolute;

        &-mobile {
            transform: translate(-50%, -100%) rotate(-14.12deg);
            left: 50%;
            top: 0%;
            display: none;
            @media screen and (min-width: 0px) and (max-width: 768px) {
                display: block;
            }
        }
        &-desktop {
            transform: translate(-50%, -50%) rotate(-14.12deg);
            left: -35px;
            top: 50%;
            display: block;
            @media screen and (min-width: 0px) and (max-width: 1024px) {
                display: none;
            }
        }
    }
    &_fleche {
        position: absolute;
        right: -15px;
        top: 50%;
        transform: translate(50%, -20px);

        &-desktop {
            display: block;
            @media screen and (min-width: 0px) and (max-width: 1024px) {
                display: none;
            }
        }
    }
    &_info {
        font-family: GT-Eesti-Pro, sans-serif;
        font-size: 30px;
        font-style: normal;
        // font-weight: 400;
        font-weight: bold;
        line-height: 45px;
        letter-spacing: 0em;
        text-align: center;
        color: #f06400;

        @media screen and (min-width: 0px) and (max-width: 768px) {
            font-size: 25px;
            line-height: 35px;
        }
    }
}
